$border-titles:#FFFFFF;
$active-menu-and-tooltip-border:#FFAFCC;
$cardbg-inputbg:#212529;
$cardborder:#495057;
$balance-sucess:#80ED99;
$taskday-warning:#C1121F;
$normalday:#540B0E;
$asidebg:#003049;
$headerbg-menudisable:#669BBC;
$titles-label:#000000;
$bg-button:#BBD0FF;
$mainbg:#DEE2E6;
$text-input:#F16C6C;
$alert:#FFD900;

@font-face {
  font-family: 'Titles';
  src: url('../../../public/fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: 'Labels';
  src: url('../../../public/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Lis-R';
  src: url('../../../public/fonts/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Lis-S';
  src: url('../../../public/fonts/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'Textts';
  src: url('../../../public/fonts/Alegreya-Italic.ttf');
}

@font-face {
  font-family: 'Button';
  src: url('../../../public/fonts/Merriweather-Bold.ttf');
}

.body{
    header{
        width: 100%;
        background-color: $headerbg-menudisable;
        padding: 12px;
        color: $border-titles;
        text-transform: uppercase;

        a{
            color: inherit;
            text-decoration: none;
        }
    }

    .main{
        display: flex;

        aside{
            position: relative;
            width: 400px;
            height: 100vh;
            background-color: $asidebg;
            h2{
                font-family: 'Titles';
                color: $border-titles;
                background-color: $cardbg-inputbg;
                width: max-content;
                padding: 16px 24px;
                border-radius: 50%;
                border: 2px solid $border-titles;
                margin: auto auto;
                margin: 60px auto;
            }



            .menus{
                section{
                    background-color: $headerbg-menudisable;
                    height: 30px;
                    overflow: hidden;
                    color: $titles-label;

 
                    article{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        padding:0px 12px;
                       }
       
                       h3{
                           font-size: 1.2rem;
                           font-family: 'Lis-S';
                           text-transform: uppercase;
                       }
       
                       ul{
                           list-style: none;
                           font-family: 'Lis-R';
                           text-transform: uppercase;

                           a{
                            color: inherit;
                            text-decoration: none;
                           }
                           div{
                               display: flex;
                               align-items: center;
                               gap: 12px;
                               padding: 0px 20px;
                           }
                       }
                }

                footer{
                    width: 100%;
                    position: absolute;
                    bottom: 100px;
                    display: flex;
                    justify-content: space-between;
                    padding: 12px;
                    text-transform: uppercase;
                    color: $border-titles;
                    font-family: 'Lis-R';

                    span{
                        cursor: pointer;
                    }
                }
            }
        }

        .childrenContainer{
            background-color: $mainbg;
            width: 100%;
            padding: 20px 40px;
            
            h1{
                margin: 20px 0px;
                text-transform: uppercase;
                font-family: 'Titles';
                font-size: 5rem;
            }

            form{  
                button{
                    background-color: $bg-button;
                    border: 2px solid $active-menu-and-tooltip-border;
                    border-radius: 8px;
                    font-family: 'Button';
                    text-transform: uppercase;
                    color: $border-titles;
                    transition: .4s;
                    padding: 12px 24px;
                    font-size: 1.2rem;
                    width: 200px;
                    cursor: pointer;
                    display: block;
      
                    &:hover{
                      border-color: $bg-button;
                      background-color: $active-menu-and-tooltip-border;
                    }
                }

                label{
                    font-size: 1.2rem;
                    font-family: 'Labels';
                    color: $titles-label;
                    margin-bottom: 4px;
                    display: block;
                    text-transform: uppercase;
                }
    
                input{
                    padding: 8px 4px;
                    background-color: $cardbg-inputbg;
                    border: 2px solid $headerbg-menudisable;
                    color: $cardborder;
                    transition: .4s;
                    border-radius: 8px;
                    width: 500px;
                    margin-bottom: 20px;
    
                   &:focus{
                    border-color: $cardbg-inputbg;
                    background-color:$headerbg-menudisable;
                    color: $text-input;
                   }
                }
            }
        }
    }
}